<input type="checkbox" id="nav-toggle">
<div class="sidebar">
<div class="sidebar-brand">
<h1><span class="lab la-accusoft"></span>
    Accusof</h1>
</div>

<div class="sidebar-menu">
    <ul>
        <li>
            <a href="" class="active"><span class="las la-igloo"></span>>
            <span>Dashboard</span></a>
        </li>
    </ul>
</div>
</div>
<div class="main-content">
    <header>
        <h1>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Dashboard
        </h1>
        <div class="search-wrapper">
            <span class="las la-search"></span>
            <input type="=search" placeholder="Search">
        </div>
    </header>

</div>